body {
    background-color: deeppink;

    font-family: Helvetica;
    color: white;
}

h1 {
    font-family: Helvetica;
    font-size: 30px;
    color: white;

    margin-top: -5px;
}

h2 {
    font-family: Helvetica;
    font-size: 20px;
    color: white;

    margin-top: 0px;
}

h3 {
    font-family: Helvetica;
    font-size: 16px;
    color: white;

    margin-top: 0px;
    margin-bottom: 0px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

    margin-left: 0px;
    margin-right: 0px;

    padding-left: 0px;
    padding-right: 0px;
}

.button {
    margin: 2px;
    background-color: #FFFF00;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.button-small {
    font-size: 12pt;
    padding: 5px 10px;
}

.buttonSelected {
    background-color: #00FF00;
    -webkit-transition: none;
    -ms-transition: none;
    transition: none;
}

.button-container {
    margin-top: 5px;
    border: 2px solid white;
}

.chart-container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
}
